<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kaberdin_PostItNotes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body style="background-color: #0C0F14; height:100vh;" class="d-flex flex-column m-0">
    <header class="d-flex">
        <nav style="border-color: #687077 !important; background-color: #232528;" class="navbar navbar-dark border-bottom box-shadow mb-1 flex-grow-1">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Kaberdin_PostItNotes</a>
            </div>
        </nav>
    </header>
    <div class="d-flex flex-grow-1">
        <main role="main" class="p-0 bg-transparent d-flex flex-grow-1">
            @RenderBody()
        </main>
    </div>

    <footer class="d-flex border-top text-muted" 
    style="
        line-height:60px;
        border-color: #687077 !important;
        background-color: #232528;
        ">
        <div class="container">
            &copy; 2020 - Kaberdin_PostItNotes
        </div>
    </footer>

    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
