@page
@using Kaberdin_PostItNotes.Data.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .sticker {
        user-select: none;
        z-index: 0;
        height: 200px;
        width: 200px;
        min-width: 150px;
    }
</style>
<div class="container-fluid h-100 pb-0" id="WorkPlace">
</div>

<script src="~/lib/turndown/turndown.js"></script>
<script src="~/lib/markdown-it/markdown-it.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/interact.js/interact.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/Index.js"></script>


